@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 500;
  src: url(./vendor/noto-serif-sc-0.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Serif SC';
  font-style: normal;
  font-weight: 600;
  src: url(./vendor/noto-serif-sc-1.ttf) format('truetype');
}
